<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RV Fact Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
</head>
<body>
    <h1>RV Fact Checker</h1>
    <div class="container">
        <h2>News Checker</h2>
        <form action="/predict" method="post">
            <textarea name="news_article" rows="10" cols="50" placeholder="Enter a news article..."></textarea><br>
            <input type="submit" value="Classify News">
        </form>
        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
        {% endif %}
    </div>
    <footer>
        <p>&copy; 2024 RV Fact Checker. All rights reserved.</p>
    </footer>
</body>
</html>
